<div class="row">
  <div class="col-sm-6">
    <h1>{{name}} Board</h1>
  </div>
  <div class="col-sm-6 text-right board-toolbar">
    {{#link-to 'boards.edit' content class="btn btn-default"}}
      <i class="fa fa-cogs"></i> Edit Board
    {{/link-to}}
    <button class="btn btn-primary">
      <i class="fa fa-plus"></i> New Card
    </button>
  </div>
</div>

<div class="board-lanes">
  {{#each lane in sortedLanes}}
    <div class="board-lane" {{bind-attr style="laneStyle"}}>
      <div class="panel panel-default">
        <div class="panel-heading">{{lane.name}}</div>
        <div class="panel-body">
          {{lane.name}} content
        </div>
      </div>
    </div>
  {{/each}}
</div>
