<div class="form-group">
  <label {{bind-attr for="inputTextView.elementId"}}>{{label}}</label>
  {{input
    class="form-control"
    type=type
    placeholder=placeholder
    value=value
    viewName="inputTextView"}}
</div>
