<div class="form-group">
  <label {{bind-attr for="inputTextView.elementId"}}>{{label}}</label>
  {{input
    class="form-control"
    typeBinding=type
    placeholderBinding=placeholder
    valueBinding=value
    viewName="inputTextView"}}
</div>
