{{#modal-dialog
  title="Add Attachment"
  closeAction="cancel"
  closeTitle="Cancel"
  saveAction="save"
  saveTitle="Save"
  isValidBinding="model.image"}}
  <div id="paste-image">
    {{#if model.image}}
      <img {{bind-attr src="model.image"}}>
    {{else}}
      <p>Paste Image</p>
    {{/if}}
  </div>
{{/modal-dialog}}
