<div class="row">
  <div class="col-sm-6">
    <h1><i class="fa fa-tag"></i> New {{board.name}} Release</h1>
  </div>
  <div class="col-sm-6 text-right board-toolbar">
    {{#link-to 'releases'}}
      Cancel
    {{/link-to}}
    &nbsp;
    <button type="submit" class="btn btn-primary" {{action 'save'}}>
      <i class="fa fa-check"></i> Create Release
    </button>
  </div>
</div>
